body {
    color: black;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
  }
  
  .book-row {
    padding-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
  }

  .book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
  }
  
  .book .btn {
    margin-top: auto;
    margin-bottom: 10px;
  }

  /* .book-name {
    color: black;
  } */
  